.outerDiv{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin: 70px;
    background-color: var(--blue-mirage-color);
}

.innerDiv{
    width: 80%;
    height: 100%;
    padding: 2rem;
}

.ttl{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: var(--white-alpha-color);
    cursor: context-menu;
}

.ttlS{
    color: var(--crimson-color);
}

.bdy{
    margin: 1rem 0;
    display: flex;
}

@media all and (max-width: 780px){
    .ttl{
        font-size: 2.5rem;
    }
    .innerDiv{
        width: 90%;
        padding: 1rem;
    }

    .bdy{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media all and (max-width: 740px){
    .outerDiv{
        display: flex;
        justify-content: left;
    }

    .ttl{
        font-size: 2rem;
    }

}
