.outerDiv{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin: 70px;
    background-color: var(--blue-mirage-color);
}

.innerDiv{
    width: 70%;
    height: 100%;
    padding: 1rem;
}

.ttl{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: var(--white-alpha-color);
    cursor: context-menu;
}

.ttlS{
    color: var(--crimson-color);
}

.btns{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bdy{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 780px){
    .innerDiv{
        width: 80%;
    }
    .ttl{
        font-size: 2rem;
    }
}

@media all and (max-width: 480px){
    .innerDiv{
        width: 90%;
    }
}