.btn{
    margin: 0.5rem 2rem 1rem 0;
    color: var(--white-alpha-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: var(--brd-crimson-color);
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--black-russian-color);
    transition: 0.5s;
}

.btn:hover{
    transition: 0.5s;
    background-color: var(--crimson-color);
}

@media all and (max-width: 1024px){
    .btn{
        padding: 0.8rem 1rem;
    }
}

@media all and (max-width: 480px){
    .btn{
        font-size: 0.8rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }
}