.intro {
  width: 75%;
  height: auto;
  margin: auto;
  display: flex;
  .innerdiv {
    width: 55%;
    height: 100%;
    float: left;
    margin: 130px auto;

    .d1 {
      font-weight: 700;
      font-size: 2rem;
      color: #fca311;
    }
    .d2 {
      margin: 10px 0;
      font-weight: 700;
      font-size: 5rem;
    }
    .d3 {
      font-weight: 600;
      font-size: 1.8rem;
      color: #e63946;
    }
    .d4 {
      margin: 10px 0;
      font-weight: 400;
      font-size: 1.3rem;
      color: #2ec4b6;
    }
    .btns {
      margin: 50px 0;
    }
  }
}

.dummy {
  width: 45%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .innerdiv {
    width: 100% !important;
  }
  .dummy {
    display: none !important;
  }
}

@media (min-width: 786px) and (max-width: 1440px) and (orientation: landscape) {
  .innerdiv {
    width: 100% !important;
  }
  .dummy {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 425px) and (max-width: 768px) {
  .innerdiv {
    width: 100% !important;
    margin: 160px auto !important;
    .d1 {
      font-weight: 600 !important;
      font-size: 1.2rem !important;
    }
    .d2 {
      margin: 10px 0;
      font-weight: 700 !important;
      font-size: 2.8rem !important;
    }
    .d3 {
      font-weight: 600 !important;
      font-size: 1.2rem !important;
    }
    .d4 {
      margin: 10px 0;
      font-weight: 400;
      font-size: 1.1rem !important;
    }
  }
  .dummy {
    display: none !important;
  }
}

@media (min-width: 0px) and (max-width: 424px) {
  .innerdiv {
    width: 100% !important;
    margin: 100px auto !important;
    .d1 {
      font-weight: 600 !important;
      font-size: 1.2rem !important;
    }
    .d2 {
      margin: 10px 0;
      font-weight: 700 !important;
      font-size: 2.3rem !important;
    }
    .d3 {
      font-weight: 600 !important;
      font-size: 1.1rem !important;
    }
    .d4 {
      margin: 10px 0;
      font-weight: 400 !important;
      font-size: 1rem !important;
    }
  }
  .dummy {
    display: none !important;
  }
}
