.post {
  width: 65%;
  height: auto;
  margin: 30px auto;

  .btnLinks {
    width: 100%;
    height: 80px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 10px;

    .btnLink {
      margin: 10px;
      font-weight: 600;
      padding: 10px 15px;
      background-color: #0a192f;
      color: #d3d3d3;
      border: 1px solid #fca311;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      font-size: 15px;
      position: relative;
      transition: all 0.3s;

      &:hover {
        color: #0a192f;
        background-color: aliceblue;
      }
    }
  }

  .postBdy {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    color: #0a192f;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: aliceblue;
    border-radius: 10px;
    img {
      width: 90%;
      height: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .post {
    width: 80%;
  }
  .btnLinks {
    height: auto !important;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;

    .btnLink {
      margin: 5px !important;
      padding: 10px !important;
      font-size: 10px !important;
    }
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .post {
    width: 75%;
  }
  .postBdy {
    font-size: 1rem !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .post {
    width: 80%;
  }
  .postBdy {
    font-size: 0.9rem !important;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .post {
    width: 90%;
  }
  .postBdy {
    font-size: 0.9rem !important;
  }
}
