.post {
  width: 65%;
  height: auto;
  margin: 30px auto;

  .btnLinks {
    width: 100%;
    height: 80px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 10px;

    .btnLink {
      margin: 10px;
      font-weight: 600;
      padding: 10px 15px;
      background-color: #0a192f;
      color: #d3d3d3;
      border: 1px solid #fca311;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      font-size: 15px;
      position: relative;
      transition: all 0.3s;

      &:hover {
        color: #0a192f;
        background-color: aliceblue;
      }
    }
  }

  .postBdy {
    width: 100%;
    height: auto;
    padding: 20px;
    color: #0a192f;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: aliceblue;
    border-radius: 10px;

    .introPara {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
    }

    .imgTag {
      display: flex;
      justify-content: center;
      margin: 20px;
      .imageTag {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .para1 {
      font-size: 1.1rem;
      margin: 20px;
      text-align: center;
      span {
        font-size: 2rem;
      }
    }
    .para2 {
      margin: 0 20px;
      text-align: justify;
    }
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .btnLinks {
    height: auto !important;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;

    .btnLink {
      margin: 5px !important;
      padding: 10px !important;
      font-size: 10px !important;
    }
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .introPara {
    font-size: 2rem !important;
  }
  .para1 {
    font-size: 1.1rem !important;
    span {
      font-size: 1.4rem !important;
    }
  }
  .para2 {
    font-size: 1rem !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .introPara {
    font-size: 1.6rem !important;
  }
  .para1 {
    font-size: 1rem !important;
    span {
      font-size: 1.2rem !important;
    }
  }
  .para2 {
    font-size: 1rem !important;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .introPara {
    font-size: 1.4rem !important;
  }
  .para1 {
    font-size: 1rem !important;
    span {
      font-size: 1.1rem !important;
    }
  }
  .para2 {
    font-size: 1rem !important;
  }
}
