.container {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: #f8edeb;
}

.hm {
  color: #f4a261;
}
