:root{
    /* colors */
    --crimson-color: crimson;
    --black-russian-color : #0F1624;
    --white-alpha-color: rgba(255, 255, 255, 0.92);
    --darkish-blue-color: rgb(23, 48, 99);
    --gold-color: #fca311;
    --greenish-color: #2ec4b6;
    --blue-mirage-color: #1A202C;
    --black-pearl-color: #0B111B;

    /* background colors */
    --crimson-bg-color: crimson;
    --black-russian-bg-color : #0F1624;
    --white-alpha-bg-color: rgba(255, 255, 255, 0.92);
    --darkish-blue-bg-color: rgb(23, 48, 99);

    /* borders  */
    --brd-crimson-color-3px: 3px solid crimson;

    --brd-crimson-color: 1px solid crimson;
    --brd-black-russian-color : 1px solid #0F1624;
    --brd-white-alpha-color: 1px solid rgba(255, 255, 255, 0.92);
    --brd-darkish-blue-color: 1px solid rgb(23, 48, 99);
    
    --brd-gold-blue-color: 2px solid #fca311;

}